<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Model training job running every 10 minutes</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H/5 * * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>
        /var/jenkins_home/scripts/fetch_data.sh
        python3 /var/jenkins_home/scripts/train_model.py
        /var/jenkins_home/scripts/send_model.sh
        rm /var/jenkins_home/data/pollution_data.csv
      </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>